<footer>
    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer_about">
                Na risoflora, unimos criatividade, técnica e amor pela natureza para transformar espaços em ambientes mais verdes, agradáveis e funcionais. Acreditamos que o paisagismo vai além da estética — é a conexão entre bem-estar, sustentabilidade e harmonia com o ambiente.
            </p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i> 7799939-7911</li>
                <li><i class="fa-regular fa-envelope"></i> email.com</li>
                <li><i class="fa-solid fa-map-pin"></i> rua do nada, n zero</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; todos os direitos reservados
    </section>
</footer>
