<section class="categories">
    <div class="category">
        <img src="../../assets/lavanda.jpeg" alt="plantas ornamentais">
        <p>Flores</p>
    </div>
    <div class="category">
        <img src="../../assets/lavanda.jpeg" alt="plantas ornamentais">
        <p>Frutíferas</p>
    </div>
    <div class="category">
        <img src="../../assets/lavanda.jpeg" alt="plantas ornamentais">
        <p>Medicinais</p>
    </div>
    <div class="category">
        <img src="../../assets/lavanda.jpeg" alt="plantas ornamentais">
        <p>Decorativas</p>
    </div>
    <div class="category">
        <img src="../../assets/lavanda.jpeg" alt="plantas ornamentais">
        <p>Venenosas</p>
    </div>
</section>
<app-products></app-products>