.product_container{
    padding: 5px;
    width: 100%;
    min-height: 250px;

    border: 1px solid gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-image_container{
    height: 100%;
}
.product-image_container>img{
    height: 100%;
}
.product-description_container{
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
.product_price{
    color: var(--cor-laranja);
    font-size: x-large;
}
.quantity{
    width: 50px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #333;
    outline: none; 
}
.add{
    font-size: medium;

    padding: 10px 20px;
    width: 200px;

    background-color: var(--cor-azul);
    color: white;

    cursor: pointer;
}
@media(max-width: 500px) {
    .product_container{
        flex-direction: column;
    }
}