<!--start of carroucel-->
         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/id/1011/900/500" class="d-block w-100" alt="Imagem 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Primeiro Slide</h5>
        <p>Descrição do primeiro slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/id/1011/900/500" class="d-block w-100" alt="Imagem 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Segundo Slide</h5>
        <p>Descrição do segundo slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/id/1011/900/500" class="d-block w-100" alt="Imagem 3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Terceiro Slide</h5>
        <p>Descrição do terceiro slide.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>

<!--end of carroucel-->

<section class="product_container">
    <div class="product-image_container">
        <img [src]="product?.image" [alt]="product?.description"> 
    </div>
    <div class="product-description_container">
        <h2 class="product_name">{{product?.description}}</h2>
        <p class="details">{{product?.details}}</p>
        <h3 class="product_price">{{product?.price | currency: "BRL"}}</h3>
        <p>{{product?.descriptionPrice}}</p>
        <label>
            Quantidade:
            <input [(ngModel)]="qtd" min="1" [max]="product ? product.stockQtd : 1" class="quantity" type="number">
            unidade(s)
        </label>
        <p class="product_avaiability">
            {{product?.stockQtd}} unidade(s) em estoque
        </p>
        <button (click)="addToCart()" class="add">
            Adicionar ao carrinho
        </button>
    </div>
</section>
